@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'reset.css';

:root {
  --color-bg: #f8f8f8;
  --color-main: #ff6200;
  --color-secondary: #525199;
  --color-text: #353535;
  --color-text-secondary: #c2c2c2;
  --color-border: #efefef;
  --color-white: #ffffff;

  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --tex-3xl: 2rem;

  --font-semibold: 500;
  --font-bold: 600;

  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;

  --rounded-sm: 0.125rem;
  --rounded-md: 0.25rem;
  --rounded-lg: 0.5rem;
}

html {
  background-color: var(--color-bg);
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}

.container {
  padding: 15px 30px;
}
