.main-color {
  color: var(--color-main);
}
.d-flex {
  display: flex;
}
.w-full {
  width: 100%;
}
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: var(--text-sm);
}
.text-base {
  font-size: var(--text-base);
}
.text-lg {
  font-size: var(--text-lg);
}
.text-xl {
  font-size: var(--text-xl);
}
.text-2xl {
  font-size: var(--text-2xl);
}
.text-3xl {
  font-size: var(--tex-3xl);
}

.font-semibold {
  font-weight: var(--font-semibold);
}

.font-bold {
  font-weight: var(--font-bold);
}

.mb-4 {
  margin-bottom: var(--spacing-4);
}
.mb-8 {
  margin-bottom: var(--spacing-8);
}
.mb-12 {
  margin-bottom: var(--spacing-12);
}
.mb-16 {
  margin-bottom: var(--spacing-16);
}

.mt-4 {
  margin-top: var(--spacing-4);
}
.mt-8 {
  margin-top: var(--spacing-8);
}
.mt-12 {
  margin-top: var(--spacing-12);
}
.mt-16 {
  margin-top: var(--spacing-16);
}

.ml-4 {
  margin-left: var(--spacing-4);
}
.ml-8 {
  margin-left: var(--spacing-8);
}
.ml-12 {
  margin-left: var(--spacing-12);
}
.ml-16 {
  margin-left: var(--spacing-16);
}

.mr-4 {
  margin-right: var(--spacing-4);
}
.mr-8 {
  margin-right: var(--spacing-8);
}
.mr-12 {
  margin-right: var(--spacing-12);
}
.mr-16 {
  margin-right: var(--spacing-16);
}

.pt-4 {
  padding-top: var(--spacing-4);
}
.pt-8 {
  padding-top: var(--spacing-8);
}
.pt-12 {
  padding-top: var(--spacing-12);
}
.pt-16 {
  padding-top: var(--spacing-16);
}

.pb-4 {
  padding-bottom: var(--spacing-4);
}
.pb-8 {
  padding-bottom: var(--spacing-8);
}
.pb-12 {
  padding-bottom: var(--spacing-12);
}
.pb-16 {
  padding-bottom: var(--spacing-16);
}

.pl-4 {
  padding-left: var(--spacing-4);
}
.pl-8 {
  padding-left: var(--spacing-8);
}
.pl-12 {
  padding-left: var(--spacing-12);
}
.pl-16 {
  padding-left: var(--spacing-16);
}

.pr-4 {
  padding-right: var(--spacing-4);
}
.pr-8 {
  padding-right: var(--spacing-8);
}
.pr-12 {
  padding-right: var(--spacing-12);
}
.pr-16 {
  padding-right: var(--spacing-16);
}

.gap-4 {
  gap: var(--spacing-4);
}
.gap-8 {
  gap: var(--spacing-8);
}
.gap-12 {
  gap: var(--spacing-12);
}
.gap-16 {
  gap: var(--spacing-16);
}

.gap-y-4 {
  row-gap: var(--spacing-4);
}
.gap-y-8 {
  row-gap: var(--spacing-8);
}
.gap-y-12 {
  row-gap: var(--spacing-12);
}
.gap-y-16 {
  row-gap: var(--spacing-16);
}

.gap-x-4 {
  column-gap: var(--spacing-4);
}
.gap-x-8 {
  column-gap: var(--spacing-8);
}
.gap-x-12 {
  column-gap: var(--spacing-12);
}
.gap-x-16 {
  column-gap: var(--spacing-16);
}
